In [15]:
import re
from selenium import webdriver
from bs4 import BeautifulSoup
import os
import pandas as pd

In [20]:
path= 'C:/Users/Administrator/Desktop/python/data scrapping/new.html'
con= open(path, 'r')
html = con.read()
con.close()
soup = BeautifulSoup(html, 'html.parser')

In [36]:
title=[]
author=[]
price=[]
description=[]
category=[]
for i in soup.find_all('h4',class_='title'):
    title.append(i.text)
for i in soup.find_all('div',class_='author'):
    author.append(i.text)
for i in soup.find_all('li',type='price'):
    price.append(i.text)
for i in soup.find_all('div',class_='desc'):
    description.append(i.text.strip())
for i in soup.find_all('div', class_='category'):
    category.append(i['type'])
df2=pd.DataFrame({'Title':title,'Author':author,'Price':price,'Description':description,'Category':category})
df2

,Title,Author,Price,Description,Category
0,The person you mean to be,Dolly,10$,"An inspiring guide form Dolly Chugh,\n\t\t\tan...",self-help
1,Imperfect courage,Tom,15$,"An inspiring guide form Tom Chugh,\n\t\t\tan a...",society

In [39]:
for i in soup.find_all('div',class_='desc'):
    print(i.text.strip().split(','))

['An inspiring guide form Dolly Chugh', '\n\t\t\tan award-winning social pyschologist']
['An inspiring guide form Tom Chugh', '\n\t\t\tan award-winning social pyschologist']

In [37]:
description

['An inspiring guide form Dolly Chugh,\n\t\t\tan award-winning social pyschologist',
 'An inspiring guide form Tom Chugh,\n\t\t\tan award-winning social pyschologist']

In [47]:
soup.li.type

'price'