In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('stock.csv')

In [3]:
df.head()

,Unnamed: 0,Stock Price,Exchange,Name,Price
0,01-01-2109,0.543988,AMEX,American Stock Exchange,43628.00000
1,02-01-2109,0.301586,ASX,Australian Securities Exchange,43628.67361
2,03-01-2109,0.665711,CBOT,Chicago Board of Trade,43628.00000
3,04-01-2109,0.627863,CFE,Chicago Futures Exchange,43628.00000
4,05-01-2109,0.599877,CME,Chicago Merchantile Exchange,43628.00000

In [7]:
df['Stock Price'].mean()

0.4947223799583333

In [ ]:
df['Stock Price'].mean()