In [73]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [26]:
df=pd.read_csv('stock.csv')

In [27]:
df.head(4)

,Unnamed: 0,Stock Price,Exchange,Name,Price
0,01-01-2109,0.543988,AMEX,American Stock Exchange,43628.00000
1,02-01-2109,0.301586,ASX,Australian Securities Exchange,43628.67361
2,03-01-2109,0.665711,CBOT,Chicago Board of Trade,43628.00000
3,04-01-2109,0.627863,CFE,Chicago Futures Exchange,43628.00000

In [31]:
#sns.heatmap(df)
#plt.show()
df.columns.values[0]='date'
df.columns.values[1]='stock_price'
# Convert the data type of column Age to float64 & data type of column Marks to string
#empDfObj = empDfObj.astype({'Age': 'float64', 'Marks': 'object'})
#empDfObj['Age'] = empDfObj['Age'].astype('abc')

In [35]:
corrmat = df.corr()
fig = plt.figure(figsize = (12, 9))
sns.heatmap(corrmat,vmax = .8, cmap=,square = True)
plt.show()

NameError: name 'red' is not defined

In [13]:
#df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})

pandas.core.indexes.base.Index

In [81]:
# import Pandas as pd
import pandas as pd
# create a new data frame
df = pd.DataFrame({'Name': ['Steve Smith', 'Joe Nadal',
                            'Roger Federer','ram','sham','a','b','v','r'],
                 'Age':[32, 34, 36,12,3,43,62,24,73]})

rows(df)

NameError: name 'rows' is not defined

In [120]:
#labels2=['Child','Teen','Adult','Senior','Morbe']
#bin1=['0-10','10-20','20-30','40-50','50-60',]

df['Age_Group']=pd.cut(df['Age'],right=False,bins=[1,10,20,40,50,80],labels=['Child','Teen','Adult','Senior','Morbe'])
df

            Name  Age Age_Group
0    Steve Smith   32     Adult
1      Joe Nadal   34     Adult
2  Roger Federer   36     Adult
3            ram   12      Teen
4           sham    3     Child
5              a   43    Senior
6              b   62     Morbe
7              v   24     Adult
8              r   73     Morbe

In [78]:
#df.loc[(df.Age < 13)] = 'Kid'
df.loc[(df.Age >=30)] & df.loc[(df.Age <32)] == Infant
#If df.Age >= 32 & df.Age < 34 then AgeGroup = Toddler
#If df.Age >= 34 & df.Age < 36 then AgeGroup = Kid
df

TypeError: unsupported operand type(s) for &: 'str' and 'bool'

In [49]:
c=list(range(30,33))
c

[30, 31, 32]

In [42]:
df['Age2']= df.Age.str.split("32-34",expand=True,)

In [43]:
df

            Name Age Age2
0    Steve Smith
1      Joe Nadal
2  Roger Federer