In [1]:
%matplotlib inline
import os
import matplotlib
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix

In [2]:
aisles_df=pd.read_csv('aisles.csv')
departments_df =pd.read_csv('departments.csv')
orders_df =pd.read_csv('orders.csv')
products_df =pd.read_csv('products.csv')
orders_products_prior_df =pd.read_csv('order_products__prior.csv')
orders_products_train_df=pd.read_csv('order_products__train.csv')

In [3]:
orders_products_train_df = pd.merge(orders_products_train_df, orders_df, on='order_id')
orders_products_train_df.head()

,order_id,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,49302,1,1,112108,train,4,4,10,9.0
1,1,11109,2,1,112108,train,4,4,10,9.0
2,1,10246,3,0,112108,train,4,4,10,9.0
3,1,49683,4,0,112108,train,4,4,10,9.0
4,1,43633,5,1,112108,train,4,4,10,9.0

In [4]:

# now we want to know if the products that are in orders_prior 
# ended up in the baskets in orders_train (= our target 'yes'[1] or 'no'[0])

# accumulate orders_train to create carts from last order
train_carts = (orders_products_train_df.groupby('user_id',as_index=False) #  group by users
                                      .agg({'product_id':(lambda x: list(x))}) # create a list of the products in the cart
                                      .rename(columns={'product_id':'user_cart_current_contents'}))

In [5]:
train_carts.head(5)

   user_id                         user_cart_current_contents
0        1  [196, 25133, 38928, 26405, 39657, 10258, 13032...
1        2  [22963, 7963, 16589, 32792, 41787, 22825, 1364...
2        5  [15349, 19057, 16185, 21413, 20843, 20114, 482...
3        7  [12053, 47272, 37999, 13198, 43967, 40852, 176...
4        8  [15937, 5539, 10960, 23165, 22247, 4853, 27104...

In [8]:
train_carts = (orders_products_train_df.groupby('user_id',as_index=False)
                                      .agg({'product_id':(lambda x: set(x))})
                                      .rename(columns={'product_id':'latest_cart'}))
df_X = df_X.merge(train_carts, on='user_id')
df_X['in_cart'] =(df_X.apply(lambda row: row['product_id'] in row['latest_cart'], axis=1).astype(int))

NameError: name 'df_X' is not defined