In [2]:
import pandas as pd

In [4]:
data = pd.read_csv('D:/sanjay/nandan/model.csv')
data.head()

,Unnamed: 0,pos_x,pos_y,pos_z,spd_x,spd_y,spd_z,Density_Level,Attacker_Density,AttackerType
0,0,3597.152086,5542.199221,1.895,-3.178366,38.798969,0.0,3,0.1,0
1,1,3596.805861,5692.113417,1.895,1.282467,-29.864003,0.0,3,0.1,0
2,2,3597.770493,5764.800893,1.895,-0.020161,-34.568848,0.0,3,0.1,0
3,3,3822.892006,5266.806009,1.895,1.305362,-0.988730,0.0,3,0.1,0
4,4,3617.100034,5417.782781,1.895,4.937950,-39.877578,0.0,3,0.1,0

In [6]:
data = data.drop('Unnamed: 0',axis=1)

In [7]:
data.head()

,pos_x,pos_y,pos_z,spd_x,spd_y,spd_z,Density_Level,Attacker_Density,AttackerType
0,3597.152086,5542.199221,1.895,-3.178366,38.798969,0.0,3,0.1,0
1,3596.805861,5692.113417,1.895,1.282467,-29.864003,0.0,3,0.1,0
2,3597.770493,5764.800893,1.895,-0.020161,-34.568848,0.0,3,0.1,0
3,3822.892006,5266.806009,1.895,1.305362,-0.988730,0.0,3,0.1,0
4,3617.100034,5417.782781,1.895,4.937950,-39.877578,0.0,3,0.1,0

In [8]:
x = data.drop('AttackerType',axis=1)
y = data['AttackerType']

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=0)

In [11]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier,AdaBoostClassifier,GradientBoostingClassifier

In [12]:
model=DecisionTreeClassifier(criterion='entropy')
model.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [13]:
pred = model.predict(x_test)
pred

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [24]:
result = pd.concat([x_test,y_test],axis=1)

In [29]:
#pd.concat([result,pd.Series(pred)],axis=1)
result['Pred'] = pred

In [30]:
result.head()

,pos_x,pos_y,pos_z,spd_x,spd_y,spd_z,Density_Level,Attacker_Density,AttackerType,Pred
4252376,3541.263585,5194.103974,1.895,-14.851689,-1.827537,0.0,7,0.2,0,0
50606,3597.437334,5677.408712,1.895,1.303350,-30.350278,0.0,3,0.3,0,0
7592227,5849.291447,5710.268528,1.895,0.005426,0.000440,0.0,7,0.1,0,0
2358063,6089.953209,5649.545566,1.895,0.869610,12.702007,0.0,7,0.1,0,0
3695291,5568.168166,5674.438950,1.895,15.973052,2.049196,0.0,7,0.2,0,0

In [14]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [15]:
print(' Accuarcy Score is ', accuracy_score(y_test,pred))

 Accuarcy Score is  0.9995743389313837

In [16]:
confusion_matrix(y_test,pred)

array([[2076021,     223],
       [    805,  338018]], dtype=int64)

In [18]:
report = classification_report(y_test,pred)
print(report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00   2076244
           1       1.00      1.00      1.00    338823

    accuracy                           1.00   2415067
   macro avg       1.00      1.00      1.00   2415067
weighted avg       1.00      1.00      1.00   2415067