In [1]:
### Oyo rooms alternate approach
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import os
#path_folder=""
#os.chdir(path_folder)
url="https://www.oyorooms.com/hotels-in-coimbatore/"
browser=webdriver.Firefox()
browser.get(url)
html=browser.page_source
soup=BeautifulSoup(html,'html.parser')

In [2]:
rows=soup.find_all("div",class_="hotelCardListing__descriptionWrapper")

In [3]:
len(rows)

20

In [10]:
def get_data(soup):
    rows=soup.find_all("div",class_="hotelCardListing__descriptionWrapper")
    p=[]
    t=[]
    a=[]
    for row in rows:
        prices=row.find_all("span",class_="listingPrice__finalPrice")
        if len(prices)==0:
            p.append("Doesn't exist")
        else:
            p.append(prices[0].text)
        titles=row.find_all("h3",attrs={'itemprop':'name'})
        if len(titles)==0:
            t.append("Doesn't exist")
        else:
            t.append(titles[0]['title'])
        addrs=row.find_all("span",attrs={'itemprop':'streetAddress'})
        if len(addrs)==0:
            a.append("Doesn't exist")
        else:
            a.append(addrs[0]['title'])
    table=pd.DataFrame()
    table['name']=t
    table['addrs']=a
    table['price']=p
    return table

In [12]:
all_data={}
base_url="https://www.oyorooms.com/hotels-in-coimbatore/?page={}"
for i in range(1,6):
    url=base_url.format(i)
    browser.get(url)
    html=browser.page_source
    soup=BeautifulSoup(html,'html.parser')
    all_data[i]=get_data(soup)

In [15]:
DATA=pd.concat([all_data[i] for i in all_data],axis=0)

In [16]:
table1=pd.DataFrame({'a':[1,2,3],'b':[1,2,3]})

In [17]:
table1

   a  b
0  1  1
1  2  2
2  3  3

In [18]:
table2=pd.DataFrame({'a':[4,5],'b':[4,5]})

In [19]:
table2

   a  b
0  4  4
1  5  5

In [20]:
pd.concat([table1,table2],axis=0)

   a  b
0  1  1
1  2  2
2  3  3
0  4  4
1  5  5

In [21]:
table_dict={'1':table1,'2':table2}

In [22]:
table_dict

{'1':    a  b
 0  1  1
 1  2  2
 2  3  3, '2':    a  b
 0  4  4
 1  5  5}

In [24]:
for i in table_dict:
    print(table_dict[i])

   a  b
0  1  1
1  2  2
2  3  3
   a  b
0  4  4
1  5  5

In [26]:
pd.concat([table_dict[i] for i in table_dict],axis=0)

   a  b
0  1  1
1  2  2
2  3  3
0  4  4
1  5  5

In [28]:
DATA.shape

(90, 3)

In [54]:
url="https://www.zomato.com/bangalore/hyderabadi-spice-3-electronic-city/reviews"
browser=webdriver.Firefox()
browser.get(url)

In [56]:
all_rev=browser.find_element_by_xpath("/html/body/div[7]/div[1]/div/div[1]/div[3]/div/div[3]/div[1]/div[1]/div[1]/div/div[3]/a[2]")

In [57]:
all_rev.click()

In [58]:
zreds=browser.find_elements_by_class_name("zred")

In [59]:
len(zreds)

10

In [60]:
for zred in zreds:
    if zred.text.strip().lower()=="load more":
        print(zred.text)

LOAD MORE

In [61]:
for zred in zreds:
    if zred.text.strip().lower()=='load more':
        zred.click()

In [65]:
import time
flag=True
while flag:
    state={}
    zreds=browser.find_elements_by_class_name("zred")
    for zred in zreds:
        if zred.text.strip().lower()=='load more':
            zred.click()
            state[zred]=1
            time.sleep(2)
        else:
            state[zred]=0
    if sum(state.values())==1:
        flag=True
    else:
        flag=False

In [66]:
html=browser.page_source

In [67]:
soup=BeautifulSoup(html,'html.parser')

In [70]:
reviews=[]
for i in soup.find_all("div",class_="rev-text"):
    reviews.append(i.text.strip())

In [71]:
len(reviews)

250

In [72]:
### Simple API calls:
url="https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2016-10-03&endtime=2016-10-04"

In [73]:
import requests
resp=requests.get(url).json()

In [75]:
type(resp)

dict

In [76]:
resp.keys()

dict_keys(['type', 'metadata', 'features', 'bbox'])

In [77]:
resp['type']

'FeatureCollection'

In [78]:
resp['metadata']

{'generated': 1568796098000,
 'url': 'https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2016-10-03&endtime=2016-10-04',
 'title': 'USGS Earthquakes',
 'status': 200,
 'api': '1.8.1',
 'count': 293}

In [80]:
resp['bbox']

[-179.8664, -37.3812, -1.71, 179.743, 65.828, 554.74]

In [82]:
type(resp['features'])

list

In [86]:
resp['features'][0]['properties']['place']

'8km SW of Idyllwild, CA'

In [89]:
place=[]
for i in resp['features']:
    place.append(i['properties']['place'])

In [94]:
resp['features'][0]['geometry']['coordinates'][0]

-116.7825

In [96]:
resp['features'][0]['geometry']['coordinates'][1]

33.6873333

In [97]:
lat=[]
lon=[]
for i in resp['features']:
    lon.append(i['geometry']['coordinates'][0])
    lat.append(i['geometry']['coordinates'][1])

In [98]:
### Class excercise
url="https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2016-10-01&endtime=2016-10-02"

In [99]:
resp=requests.get(url).json()

In [101]:
resp.keys()

dict_keys(['type', 'metadata', 'features', 'bbox'])

In [102]:
type(resp['features'])

list

In [105]:
#resp['features'][0]

In [106]:
len(resp['features'])

309

In [108]:
type(resp['features'][0])

dict

In [109]:
resp['features'][0]

{'type': 'Feature',
 'properties': {'mag': 1,
  'place': '27km ESE of Yerington, Nevada',
  'time': 1475365928370,
  'updated': 1530554682076,
  'tz': -420,
  'url': 'https://earthquake.usgs.gov/earthquakes/eventpage/nn00562245',
  'detail': 'https://earthquake.usgs.gov/fdsnws/event/1/query?eventid=nn00562245&format=geojson',
  'felt': None,
  'cdi': None,
  'mmi': None,
  'alert': None,
  'status': 'reviewed',
  'tsunami': 0,
  'sig': 15,
  'net': 'nn',
  'code': '00562245',
  'ids': ',nn00562245,',
  'sources': ',nn,',
  'types': ',cap,geoserve,origin,phase-data,',
  'nst': 12,
  'dmin': 0.373,
  'rms': 0.1264,
  'gap': 76.91,
  'magType': 'ml',
  'type': 'earthquake',
  'title': 'M 1.0 - 27km ESE of Yerington, Nevada'},
 'geometry': {'type': 'Point', 'coordinates': [-118.8957, 38.8607, 5.3]},
 'id': 'nn00562245'}

In [110]:
lat=[]
lon=[]
for i in resp['features']:
    lon.append(i['geometry']['coordinates'][0])
    lat.append(i['geometry']['coordinates'][1])

In [113]:
resp['features'][0]['properties']['title']

'M 1.0 - 27km ESE of Yerington, Nevada'

In [114]:
title=[]
for i in resp['features']:
    title.append(i['properties']['title'])

In [115]:
place=[]
for i in resp['features']:
    place.append(i['properties']['place'])

In [117]:
mag=[]
for i in resp['features']:
    mag.append(i['properties']['mag'])

In [118]:
table=pd.DataFrame()

In [119]:
table['lat']=lat
table['lon']=lon
table['title']=title
table['place']=place
table['mag']=mag

In [121]:
table.dtypes

lat      float64
lon      float64
title     object
place     object
mag      float64
dtype: object

In [122]:
table.query("mag>2").shape[0]

79

In [126]:
table['place'].map(lambda x: 1 if 'California' in x else 0).sum()

66

In [128]:
table['place'].str.contains("California").sum()

66

In [129]:
table.query("mag>5").shape[0]

6

In [130]:
table.shape

(309, 5)

In [131]:
!pip install tweepy
import tweepy

In [132]:
api_key="XtH69NXMhZU3GfT7wPquSHj5u"
api_secret="ZCT2cU1PDVrAwU2i0fFO21vrIWyC1owXuODo92p5Y5jgNQhWyx"
access_token="897478702128275457-5wwTf6DkIsL0DURrx3ID0KdNw56BWvD"
access_secret="jl1IJu0Lp9orB3rRUCNPDo1eIj4PICRjfXMKGsdeXa1vn"

In [133]:
### Authenticate with twitter
auth=tweepy.OAuthHandler(api_key,api_secret)
auth.set_access_token(access_token,access_secret)
api=tweepy.API(auth)

In [138]:
tweets=api.user_timeline("ShashiTharoor",page=1,count=200)

In [142]:
tweets[0].text.strip()

'Dear \u2066@MPNaveenJindal\u2069 &amp; RajKunar, ten years ago you were an institution of imminence — today you are already an In… https://t.co/yD8qeVp8KL'

In [140]:
print(dir(tweets[0]))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_api', '_json', 'author', 'contributors', 'coordinates', 'created_at', 'destroy', 'entities', 'favorite', 'favorite_count', 'favorited', 'geo', 'id', 'id_str', 'in_reply_to_screen_name', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'is_quote_status', 'lang', 'parse', 'parse_list', 'place', 'possibly_sensitive', 'retweet', 'retweet_count', 'retweeted', 'retweets', 'source', 'source_url', 'text', 'truncated', 'user']

In [143]:
tweets[0].lang

'en'

In [144]:
table=pd.DataFrame()
table['text']=[tweet.text for tweet in tweets]
table['lan']=[tweet.lang for tweet in tweets]
table['source']=[tweet.source for tweet in tweets]
table['time']=[tweet.created_at for tweet in tweets]
table['num_retweets']=[tweet.retweet_count for tweet in tweets]

In [145]:
table.head()

,text,lan,source,time,num_retweets
0,"Dear ⁦@MPNaveenJindal⁩ &amp; RajKunar, ten yea...",en,Twitter for iPhone,2019-09-18 05:24:50,50
1,Time after time these days i hear the MC begin...,en,Twitter for iPhone,2019-09-17 16:02:09,157
2,Thursday in Jaipur: open to the public. 5pm 19...,en,Twitter for iPhone,2019-09-17 14:21:05,88
3,Thanks @shrabanibasu_ for an excellent discuss...,en,Twitter for iPhone,2019-09-17 13:18:02,30
4,"RT @AlephBookCo: ""We all thought toleration wa...",en,Twitter Web App,2019-09-17 13:15:29,17

In [148]:
text=[]
source=[]
lang=[]
time=[]
retweets=[]
from tqdm import tqdm
for i in tqdm(range(1,6)):
    tweets=api.user_timeline("ShashiTharoor",page=i,count=200)
    for tweet in tweets:
        text.append(tweet.text.strip())
        source.append(tweet.source)
        lang.append(tweet.lang)
        retweets.append(tweet.retweet_count)

100%|██████████| 5/5 [00:08<00:00,  1.67s/it]

In [151]:
table=pd.DataFrame({'text':text,'source':source,'lang':lang,'retweets':retweets})

In [153]:
table['source'].value_counts()

Twitter for iPhone     483
Twitter Web App        351
Twitter Web Client     134
Twitter for Android     30
Name: source, dtype: int64

In [154]:
table['lang'].value_counts()

en     914
hi      30
ml      24
und     23
et       2
ro       1
ne       1
fr       1
mr       1
in       1
Name: lang, dtype: int64