In [1]:
import pandas as pd
import numpy as np
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
data=pd.read_csv("birthwt_train.csv")

In [3]:
X=data.iloc[:,1:]
Y=data.iloc[:,:1]

In [ ]:
#x_train, x_test, y_train, y_test= train_test_split(X,Y,test_size=0.1,random_state=0)

In [4]:
xgb= XGBClassifier()
xgb.fit(X,Y)
#y_pred=xgb.predict(x_test)
#accuracy_score(y_test, y_pred)

C:\Users\Administrator\AppData\Roaming\Python\Python37\site-packages\sklearn\preprocessing\label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Administrator\AppData\Roaming\Python\Python37\site-packages\sklearn\preprocessing\label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [30]:
birthwt_test=pd.read_csv("birthwt_test.csv")
birthwt_actual=pd.read_csv("birthwt_actual.csv")

In [31]:
birthwt_test=birthwt_test.set_index("id")
birthwt_actual=birthwt_actual.set_index("id")

In [32]:
y_pred_actual=xgb.predict(birthwt_test)
(accuracy_score(birthwt_actual,y_pred_actual)*100)

73.68421052631578

In [33]:
birthwt_test=birthwt_test.reset_index()

In [35]:
final_data=pd.DataFrame({'id':birthwt_test['id']})
final_data['low']=y_pred_actual

In [36]:
final_data

    id  low
0    1    0
1    2    0
2    3    0
3    4    0
4    5    0
5    6    0
6    7    0
7    8    0
8    9    0
9   10    0
10  21    0
11  22    0
12  23    0
13  24    0
14  25    0
15  26    0
16  27    0
17  28    0
18  29    0
19  30    0
20  31    0
21  32    0
22  33    0
23  34    1
24  35    0
25  36    0
26  37    0
27  38    0
28  39    1
29  40    0
30  41    0
31  42    0
32  43    0
33  44    0
34  45    1
35  46    0
36  47    1
37  48    1

In [27]:
final_data.to_csv(r'C:\Users\Administrator\Desktop\MACHINE LEARNING\DO SELECT\birthwt_output.csv')